<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account_status.css') }}">
	<style>
		table, th, td {
  			border: 3px solid black;
  			font-size: 20px;
  			padding-left: 12px;
  			padding-right: 12px;
		}
	</style>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <h1 align="center">ABC BANK LTD.</h1>
        </div>
	</div>
	<div class="sidenav">
		
		<button class="dropdown-btn">Customer Management 
		  <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<a href="{{ url_for('searchcustomer') }}">Search Customer</a>
			<a href="{{ url_for('createcustpage') }}">Create Customer</a>
			<a href="{{ url_for('updatecustpage') }}">Update Customer</a>
			<a href="{{ url_for('deletecustpage') }}">Delete Customer</a>

		  </div>
		  <button class="dropdown-btn">Account Management
			  <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
			  <a href="{{ url_for('createaccount') }}">Create Account</a>
			  <a href="{{ url_for('deleteaccount') }}">Delete Account</a>
			</div>
			<button class="dropdown-btn">Status details
			  <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
			  <a href="{{ url_for('custstatus') }}">View Customer Status</a>
			  <a href="{{ url_for('accstatus') }}">View Account Status</a>
			</div>
		  
		<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
	  </div>
	<br><br>
    <div class="container" style="margin-right: 50px;">
	<div >
		<div>
			<div>
				<h3 style="color: black;">Account Status</h3>
			</div>
		<div>
				<table>
					<thead>
					<tr>
						<th>Customer ID</th>
						<th>Account ID</th>
						<th>Account Type</th>
						<th>Account Status</th>
						<th>Message</th>
						<th>Last Updated</th>
						
					</tr>
				</thead>
				<tbody>
					{% for row in value %}
					<tr>
						<td>{{ row['custid'] }}</td>
						<td>{{ row['accountid'] }}</td>
						<td>{{ row['acctype'] }}</td>
						<td>{{ row['accstatus'] }}</td>
						<td>{{ row['message'] }}</td>
						<td>{{ row['time'] }}</td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;
	
	for (i = 0; i < dropdown.length; i++) {
	  dropdown[i].addEventListener("click", function() {
	  this.classList.toggle("active");
	  var dropdownContent = this.nextElementSibling;
	  if (dropdownContent.style.display === "block") {
	  dropdownContent.style.display = "none";
	  } else {
	  dropdownContent.style.display = "block";
	  }
	  });
	}

	</script>
</body>
</html>
